{% extends "base.html" %}

{% block content %}
<body>
  <div>

    <h1>Scrumify your Bugzilla</h1>

    <ul><li>This site allows you to see all of the details of the projects
    you're managing in Bugzilla.</li><li> Just enter the Product and optionally Component
    into the "New Project" form. Any open bugs with scrum data (u, c, or p tag
    in the whiteboard field) will then appear in your backlog.</li><li> Move them into
    a sprint and reap the glory as your burndown chart slopes to victory.</li></ul>

<img alt="Chota Imambara" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/fd/Chhota_imambara_Lucknow.jpg/320px-Chhota_imambara_Lucknow.jpg" width="320" height="210" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/fd/Chhota_imambara_Lucknow.jpg/480px-Chhota_imambara_Lucknow.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/fd/Chhota_imambara_Lucknow.jpg/640px-Chhota_imambara_Lucknow.jpg 2x">

 <ul><li>If you would like a sign in to the system, please contact <a rel="nofollow" href="mailto:christopher.johnson@wikimedia.de">&lt;christopher.johnson@wikimedia.de&gt;</li></a>
<li>The next step is to use live Bugzilla data from a replication to the test instance for a usability experiment.</li></ul>

    <p>
      <a class="btn btn-primary btn-large"
         href="{{ url('scrum_teams_list') }}">Go To Teams &raquo;</a>
    </p>
  </div>
{% endblock %}
